
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{title}}</ion-title>
    <ion-buttons end>
   <button ion-button icon-only (click)="myShare()" item-end>
                        <ion-icon  name="share"></ion-icon> 
                       
                    </button>    

    </ion-buttons>
  </ion-navbar>
<h6 padding *ngIf="qnsDetails" text-wrap>{{qnsDetails.qus}}</h6>
</ion-header>


<ion-content padding>

  

<div *ngIf="qnsDetails">
  <p text-wrap [innerHTML]="qnsDetails.ans"></p>
</div>

  <ion-list *ngIf="youMayLike">
    <ion-item color="light">
      <ion-title text-wrap center>You might also like</ion-title>
    </ion-item>

  <button ion-item  outline *ngFor="let a of youMayLike, let p=index" (click)="goToNext(p)">
   <p text-wrap [innerHTML]="a.qus"></p>
  </button>  
</ion-list>


</ion-content>
