<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="selectedItem">{{selectedItem.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-label>Interview Questions</ion-label>
  <ion-list *ngIf="questionList">   
    <button text-wrap ion-item *ngFor="let item of questionList, let i=index" (click)="itemTapped(item)">      
     {{i+1}}. {{item.qus}}     
    
    </button>
    
  </ion-list>
  
</ion-content>
