<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="selectedItem">{{selectedItem.title}}</ion-title>
     <ion-buttons end>
      <button ion-button icon-only (click)="goToHome()" item-end>
                        <ion-icon name="home"></ion-icon>                       
                    </button>
                   
    </ion-buttons>
     
  </ion-navbar>
 <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
</ion-header>

<ion-content padding class="BackImg">
  <ion-label>Interview Questions</ion-label>
  <ion-list *ngIf="questionList" class="trnsBack">   
    <button text-wrap class="trnsBack" ion-item *ngFor="let item of Tempitems, let i=index" (click)="itemTapped(i)">      
     {{i+1}}. {{item.qus}}     
    
    </button>
    <button *ngIf="Tempitems.length < 1" text-wrap ion-item>
        <p center>Sorry!! No records found.</p>
    </button>
  </ion-list>
  
</ion-content>
